# Utilise explicitement http et le nom déclaré dans ton fichier hosts
http://logs.zeroclaw.local {

    # Utilisation de la nouvelle directive (basicauth est déprécié)
    basic_auth / {
        pierre $2a$10$v...ton_hash...
    }

    reverse_proxy log-viewer:8080

    # On retire tous les headers de sécurité qui forcent le HTTPS
    header {
        X-Frame-Options "DENY"
    }
}