http://logs.zeroclaw.local {

    # 1. Authentification
    basicauth / {
        pierre $2a$10$v... (ton hash)
    }

    # 2. Compression
    encode gzip

    # 3. Reverse Proxy
    reverse_proxy log-viewer:8080

    # 4. Sécurité (Version Allégée)
    header {
        X-Frame-Options "DENY"
        # SUPPRESSION de Strict-Transport-Security ici car il force le SSL
    }
}